@import '../../App.scss';

.FourOhFour {
    @include flexcolumn;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}


.FourOhFour .txt {
    width: 80%;
    max-width: 836px;
}

.FourOhFour .txt h1 {
    text-align: center;
    width: 100%;
    font-family: 'Renogare Soft Regular';
    color: $darkestgrey;
    font-size: 4.625rem;
    line-height: 4.625rem;
    margin: 80px 0 20px 0;
}


.txt p {
    color:#707070;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin: 0 0 120px 0;
}
