@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");

@import "~antd/dist/antd.css";

@font-face {
  font-family: "Renogare Soft Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Renogare Soft Regular"),
    url(./fonts/RenogareSoft-Regular.woff) format("woff");
}

$background: #fafafa;
$tellor-grey1: #f2f2f2;
$tellor-grey2: #f0f0f0;
$greylink: #999999;
$darkestgrey: #555555;
$blackish: #333333;

$brightgreen: #00fb89;
$greentxt: #20f092;
$tellor-green: #2dfc9f;

/* gradient mixins */
@mixin greenshine {
  background: $tellor-green;
  background: linear-gradient(90deg, #2dfc9f 0%, #00fb89 100%);
}

/* font mixins */
@mixin tenpxfont {
  font-size: 0.625rem !important;
  line-height: 0.85rem !important;
}

@mixin twelvepxfont {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

@mixin fourteenpxfont {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

@mixin sixteenpxfont {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

@mixin eighteenpxfont {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

/* general mixins */
@mixin centeredrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin centeredcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin leftrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin leftcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin rightrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin rightcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@mixin font {
  font-family: "Roboto", sans-serif;
}

@mixin greybg {
  background: url("../src/imgs/bg_grey.png");
}

@mixin flexrow {
  display: flex;
  flex-direction: row;
}

@mixin flexcolumn {
  display: flex;
  flex-direction: column;
}

@mixin lightshadow {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(100, 117, 155, 0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(100, 117, 155, 0.1);
  box-shadow: 0px 8px 16px 0px rgba(100, 117, 155, 0.1);
}

/* Specifics */
.App {
  @include font;
}

.flexer {
  flex: 1;
}

h2 {
  @include font;
  font-size: 1.7rem;
  line-height: 2.25rem;
  font-weight: 300;
  color: $blackish;
}

// --- Ant D Overrides ---

// Buttons
.ant-btn {
  @include sixteenpxfont;
  @include greenshine;
  color: $darkestgrey;
  box-sizing: border-box;
  padding: 14px 40px 18px 40px;
  height: 50px;
  transition: all 0.025s linear;

  @media (max-width: 965px) {
    padding: 12px 30px;
    height: 40px;
    @include fourteenpxfont;
  }

  width: auto;
  border: none;
  border-radius: 25px;
  font-weight: bold;

  &:disabled {
    @include greenshine;

    span {
      opacity: 0.5;
    }
  }

  &:hover,
  &:focus {
    color: $darkestgrey;
    @include greenshine;
    border: none;
    outline: none;
  }

  &:active {
    transform: scale(0.995);
  }
}
// Collapse
.ant-collapse {
  border: none;
}
.ant-collapse > .ant-collapse-item {
  border: none;
}
.ant-collapse-header {
  display: none;
}
.ant-collapse-content {
  border: none;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}
// Table
.ant-table-wrapper {
  margin-bottom: 3%;
  display: flex;
  justify-content: space-evenly;
  font-weight: 300;
  width: 100%;
}
.ant-spin-nested-loading {
  width: 100%;
}
.ant-table {
  @include eighteenpxfont();
  width: 100%;
}
.ant-table-thead {
  background: $tellor-grey1;
}
.ant-table-thead > tr > th {
  font-weight: 100;
}
.ant-table-tbody > tr > td {
  padding: 20px 16px;
  border-bottom: 1px solid #999999;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none;
}
.ant-table-expanded-row > td {
  padding: 0 !important;
}

.ant-table-tbody > tr > td > p {
  @include leftrow();
  @include sixteenpxfont();
  padding: 1% 0 1% 10%;
  background: $tellor-grey1;
}
.ant-table-row-expand-icon-cell {
  width: 50px !important;
}
.ant-table-column-sorter-inner {
  display: flex;
  flex-direction: column;
}
.anticon svg {
  font-size: 14px;
}
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: $darkestgrey;
}
.ant-tooltip {
  display: none;
}
.ant-table-filter-trigger.active {
  color: $darkestgrey;
}
.ant-table-filter-dropdown {
  font-family: "Roboto";
}
.ant-dropdown-menu-item {
  @include eighteenpxfont();
  font-weight: 300;
}
.ant-dropdown-menu-item-selected {
  color: $darkestgrey;
  background-color: #e5e5e5;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $darkestgrey;
  border-color: $darkestgrey;
}
.ant-btn-sm {
  margin: 5px;
}

.ant-btn-lg {
  @include font;
  border: none;
  font-size: 1.15rem !important;
  font-weight: 700;
  padding: 18px 72px 16px 72px !important;
  height: auto !important;
  border-radius: 35px !important;
}

button {
  transition-property: all;
  transition-duration: 0.05s !important;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

button:hover {
  transform: scale(0.98, 0.98);
}

button[disabled]:hover {
  transform: none;
}

.greenbtn,
.greenbtn:hover,
.greenbtn:active {
  color: $darkestgrey !important;
  background: rgb(45, 252, 159) !important;
  background: linear-gradient(
    90deg,
    rgba(45, 252, 159, 1) 0%,
    rgba(64, 249, 165, 1) 28%,
    rgba(30, 250, 150, 1) 64%,
    rgba(0, 251, 137, 1) 100%
  ) !important;
}

.whitebtn,
.whitebtn:hover,
.whitebtn:active {
  color: $darkestgrey !important;
  background: rgb(255, 255, 255) !important;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  ) !important;
}

.greybtn,
.greybtn:hover,
.greybtn:active {
  color: white !important;
  background: #333333 !important;
}

a.txtlink {
  text-decoration: underline !important;
  color: $greentxt !important;
  font-size: 1.25rem;
  font-weight: 700;
}

.smoltxt {
  font-size: 1rem;
  color: $darkestgrey;
  font-weight: 300;
}

.contentSection {
  @include flexcolumn;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 190px 0 190px;
}

.contentTxt {
  width: 100%;
  max-width: 836px;
}

.contentTxt h2 {
  text-align: left;
  width: 100%;
  color: $blackish;
  font-size: 2.375rem;
  line-height: 2.375rem;
  margin: 0 0 35px 0 !important;
}

.contentTxt h3 {
  text-align: left;
  width: 100%;
  color: $blackish;
  font-size: 1.625rem;
  line-height: 1.625rem;
  font-weight: 100;
  margin: 0 0 35px 0 !important;
}

.contentTxt p {
  color: #707070;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 0 0 50px 0 !important;
}
.contentTxt a {
  color: #707070;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-decoration: underline;
}

.contentTxt .extramarginleft {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 0 40px;
}

.bolder {
  font-weight: 600;
  color: $blackish;
}

/* QUERIES */

/* Mobile */
@media only screen and (max-width: 480px) {
  h2 {
    @include font;
    font-size: 1.375rem;
    line-height: 1.875rem;
    font-weight: 300;
    color: $darkestgrey;
  }
  .ant-btn-lg {
    font-size: 1rem !important;
    padding: 20px 40px 19px 40px !important;
  }
  a.txtlink {
    font-size: 1rem;
  }

  .contentSection {
    padding: 20px 50px 0 50px;
  }

  .contentTxt {
    width: 100%;
    max-width: 275px;
  }

  .contentTxt p {
    font-size: 1rem;
    line-height: 1.375rem;
    margin: 0 0 30px 0;
  }
  .contentTxt .extramarginleft {
    padding: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 900px) {
  h2 {
    @include font;
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: $darkestgrey;
  }
  .contentSection {
    padding: 20px 80px 0 80px;
  }

  .contentTxt p {
    margin: 0 0 40px 0 !important;
  }

  .contentTxt .extramarginleft {
    padding: 0;
  }
}

@media only screen and (min-width: 1500px) {
  h2 {
    font-size: 1.875rem;
    line-height: 2.625rem;
  }
  .ant-btn-lg {
    font-size: 1.25rem !important;
    padding: 20px 72px 19px 72px !important;
  }
}
