@import '../../App.scss';


.MediumPost {
    @include flexcolumn;
    width: 450px;
    background-color: white;
    border: 1px solid #E8E8E8;
}

.top {
    width: 100%;
    @include flexrow;
    box-sizing: border-box;
    padding: 23px 0 20px 27px;
}

.topavatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #E8E8E8;
}
.topavatar img {
    width: 100%;
}
.toptxt {
    @include flexcolumn;
    flex: 1;
    margin: 0 0 0 20px;
}
.toptxt h4 {
    color:$darkestgrey;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 4px 0 2px 0;
}

.toptxt p {
    color: #A7A7A7;
    font-size: 0.75rem;
    line-height: 1rem;
}


.middle {
    width: 100%;
    height: 270px;
}

.middle img {
    width: 100%;
}

.bottom {
    @include flexcolumn;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0 30px 27px;
}


.MediumPost a {
    font-size: 1.25rem;
    color: $blackish;
    font-weight: 600;
}
.MediumPost a:hover {
    text-decoration: underline !important;
}

/* QUERIES */

/* Mobile */
@media only screen and (max-width : 430px) {

    .socialmedia {
        @include flexcolumn;
    }
    .MediumPost {
        width: 300px;
    }
    .middle {
        width: 100%;
        height: 230px;
    }
}


@media only screen and (min-width: 430px) and (max-width: 900px){
    .MediumPost {
        width: 300px;
    }
    .middle {
        height: 170px;
    }

  }

  @media only screen and (min-width: 1500px){

    .MediumPost {
        width: 540px;
    }
    .middle {
        height: 300px;
    }
  }